@model UserLeaveSummaryViewModel

@{
    ViewData["Title"] = "Leave Summary";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="card">
    <h5 class="card-header d-flex justify-content-between align-items-center">
        <span>Leave Summary</span>
        <span class="text-primary fw-bold">Annual Leave : 12</span>
    </h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Leave Type</th>
                    <th>Total Allocated</th>
                    <th>Used</th>
                    <th>Remaining</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td>
                        <i class="bx bx-calendar bx-md text-info me-4"></i>
                        <span>@Model.LeaveTypeName</span>
                    </td>
                    <td>@Model.TotalAllocated</td>
                    <td>@Model.Used</td>
                    <td>
                        @if (Model.Remaining > 0)
                        {
                            <span class="badge bg-label-success me-1">
                                @Model.Remaining
                            </span>
                        }
                        else
                        {
                            <span class="badge bg-label-danger me-1">
                                No Paid Leave available
                            </span>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
